$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700|Economica);

body {
  font-family: 'Archivo Narrow', sans-serif;
}

header h1 {
  font-family: 'Economica', sans-serif;
  font-size: 150px;
  @media (max-width: $screen-xs-max) {
    font-size: 51px;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    font-size: 115px;
  }
}

.biography {
  @media (min-width: $screen-lg-min) {
    float: left !important;
  }
  margin-top: 88px;
}

.bio-img {
  @media (min-width: $screen-lg-min) {
    float: right !important;
  }
} 

.biography p {
  font-size: 26px;
}

.class-info {
  margin-top: 82px;
}

.class-info .contact {
  margin-top: 8px;
}

footer .social {
  margin-right: 82px;
}

footer .social img {
  width: 42px;
  height: 42px;
  margin-right: 18px;
  color: #333;
}

footer .wakedown {
  margin: 18px 8px;
  color: #b1b1b1;
}
