<!doctype html>
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Ghost Admin</title>

    <base href="/" />
<meta name="ghost/config/environment" content="%7B%22modulePrefix%22%3A%22ghost%22%2C%22environment%22%3A%22production%22%2C%22baseURL%22%3A%22/%22%2C%22locationType%22%3A%22trailing-history%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22ENABLE_DS_FILTER%22%3Atrue%7D%2C%22APP%22%3A%7B%22name%22%3A%22ghost%22%2C%22version%22%3A%220.0.0+%22%7D%2C%22ember-simple-auth%22%3A%7B%22authenticationRoute%22%3A%22signin%22%2C%22routeAfterAuthentication%22%3A%22posts%22%2C%22routeIfAlreadyAuthenticated%22%3A%22posts%22%7D%2C%22contentSecurityPolicyHeader%22%3A%22Content-Security-Policy-Report-Only%22%2C%22contentSecurityPolicy%22%3A%7B%22default-src%22%3A%22%27none%27%22%2C%22script-src%22%3A%22%27self%27%22%2C%22font-src%22%3A%22%27self%27%22%2C%22connect-src%22%3A%22%27self%27%22%2C%22img-src%22%3A%22%27self%27%22%2C%22style-src%22%3A%22%27self%27%22%2C%22media-src%22%3A%22%27self%27%22%7D%2C%22ember-cli-mirage%22%3A%7B%22usingProxy%22%3Afalse%7D%2C%22exportApplicationGlobal%22%3Afalse%2C%22browserify%22%3A%7B%22tests%22%3Atrue%7D%7D" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta name="pinterest" content="nopin" />

    <meta http-equiv="cleartype" content="on" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Ghost" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}" />
    <link rel="apple-touch-icon-precomposed" href="{{asset "img/touch-icon-iphone.png" ghost="true"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{asset "img/touch-icon-ipad.png" ghost="true"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{asset "img/small.png" ghost="true"}}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{asset "img/medium.png" ghost="true"}}" />

    <meta name="application-name" content="Ghost" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-square70x70logo" content="{{asset "img/small.png" ghost="true"}}" />
    <meta name="msapplication-square150x150logo" content="{{asset "img/medium.png" ghost="true"}}" />
    <meta name="msapplication-square310x310logo" content="{{asset "img/large.png" ghost="true"}}" />

    {{#each configuration}}
        <meta name="env-{{this.key}}" content="{{this.value}}" data-type="{{this.type}}" />
    {{/each}}

    {{#unless skip_google_fonts}}
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" />
    {{/unless}}

    <link rel="stylesheet" href="{{asset "vendor.css" ghost="true" minifyInProduction="true"}}" />
    <link rel="stylesheet" href="{{asset "ghost.css" ghost="true" minifyInProduction="true"}}" />

    
</head>
<body>




{{! Dem scripts }}
<script src="{{asset "vendor.js" ghost="true" minifyInProduction="true"}}"></script>
<script src="{{asset "ghost.js" ghost="true" minifyInProduction="true"}}"></script>
</body>
</html>
