<form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
  <h4>Submit a Review</h4>
  <fieldset class="form-group">
    <select class="form-control" ng-model="reviewCtrl.review.rate" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
      <option value="">Rate the Product</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.comment" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input type="email" class="form-control" placeholder="rafael@fumasa.org" title="Email" ng-model="reviewCtrl.review.author" required/>
  </fieldset>
  <fieldset class="form-group">
    <div> reviewForm is {{reviewForm.$valid}} </div>
    <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
  </fieldset>
</form>