<h1> {{product.name}} </h1>
<h2> {{product.price | currency}}</h2>
<button ng-show="product.canPurchase"> Add to Cart </button>
<store-gallery class='gallery' ng-show="product.images.length"></store-gallery>
<store-panel></store-panel>